<style>
   .low { color: red; }
   .high { color: green; }
</style>

<h1><%= t('.header', title: @test_passage.test.title )%></h1>

<% if @test_passage.success? %>
  <p><%= t('.success') %><span class="high"><%= @test_passage.correct_percent %></span></p>
<% else %>
  <p><%= t('.fail') %><span class="low"><%= @test_passage.correct_percent %></span></p>
<% end %>

<%= link_to t('.back'), tests_path %>
