<<h1><%= question_header(@question) %></h1>

<%= form_with model: [:admin, @test, @question] do |form| %>
  <%= render 'shared/errors', resource: @question %>
  <p>
    <%= form.label 'Текст вопроса:' %><br>
    <%= form.text_field :body %>
  </p><br>

  <p><%= form.submit value = 'Применить' %></p>
<% end %>
