<p>
  <strong><%= t('.title', title: @test.title) %></strong>
</p>

<p>
  <strong><%= t('.level', level: @test.level) %></strong>
</p>

<p>
  <%= link_to t('.new_question'), new_admin_test_question_path(@test) %>
</p>

<ol>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</ol>

<p>
  <%= link_to t('.edit_test'), edit_admin_test_path %>
</p>

<p>
<%= link_to t('.admin_tests_path'), admin_tests_path %>
</p>
