<<h1>Новый тест</h1>

<%= form_with model: @test do |form| %>
   <p>
    <%= form.label 'Название теста:' %>
    <%= form.text_field :title %><br>
    <%= form.label 'Сложность:' %>
    <%= form.text_field :level %><br>
    <%= form.label 'Категория:' %>
    <%= form.text_field :category_id %><br>
    </p><br>

  <p><%= form.submit value = 'Создать' %></p>
<% end %>
