<p>
  <strong>Название:</strong>
  <%= @test.title %>
</p>

<p>
  <strong>Уровень:</strong>
  <%= @test.level %>
</p>

<ol>
  <%= render @test.questions %>
</ol>

<p>
  <%= link_to 'Создать новый вопрос', new_test_question_path(@test) %>
</p>

<p>
  <%= link_to 'Назад с списку тестов', tests_path %>
</p>
